@import 'bootstrap';
@import 'bootstrap/theme';
@import url('https://fonts.googleapis.com/css?family=Rightous|Eagle+Lake|Hanalei+Fill|Joti+One|Lily+Script+One|Metal+Mania|New+Rocker|Ravi+Prakash|Trade+Winds|UnifrakturCook:700|UnifrakturMaguntia|Arizonia|Kaushan+Script|Merienda+One|Niconne|Norican|Yesteryear|Bangers|Carter+One|Cherry+Cream+Soda|Contrail+One|Kumar+One|Righteous');


$green: #007207;
$black: #000;
$red: #a50d0d;
$grey: #b7b7b2;
$gold: #edc525;
$white: #fff;
$orange: #db6e08;
$purple: #56037c;
$dark-blue: #02074c;
$blue: #101ff2;
$light-blue: #99e8ef;
$teal: #8af2d9;
$sky-blue: #6aebf2;
$light-grey: #bcbcbc;
$dark-grey: #595555;
$dark-orange: #9e4801;

// font-family: 'Trade Winds', cursive;
// font-family: 'UnifrakturCook', cursive;
// font-family: 'Joti One', cursive;
// font-family: 'Eagle Lake', cursive;
// font-family: 'Ravi Prakash', cursive;
// font-family: 'New Rocker', cursive;
// font-family: 'Hanalei Fill', cursive;
// font-family: 'Metal Mania', cursive;
// font-family: 'Lily Script One', cursive;
// font-family: 'Rightous', cursive;
// font-family: 'UnifrakturMaguntia', cursive;
// font-family: 'Norican', cursive;
// font-family: 'Arizonia', cursive;
// font-family: 'Yesteryear', cursive;


// font-family: 'Kumar One', cursive;
// font-family: 'Righteous', cursive;
// font-family: 'Bangers', cursive;
// font-family: 'Contrail One', cursive;
// font-family: 'Cherry Cream Soda', cursive;
// font-family: 'Carter One', cursive;

.genre-display {
  background-color: $white;
  text-align: center;
  width: auto;
}


.genre-selector {
  background-color: $blue;
}

.auth-init {
  background-color: $red;
  height: 200px;
  width: 100%;
}

.welcome-page {
  background-color: $white;
}

.static-title-div {
  background: linear-gradient(bottom left, $dark-grey, $light-grey);
  border: 10px $white ridge;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-left: 17%;
  padding-top: 20px;
  text-align: center;
  width: 65%
}

.navbar-nav {
  font-family: 'Contrail One', cursive;
  font-size: 20px;
 }

.navbar {
  margin-top: 20px;
}



.navbar-brand {
  font-family: 'Contrail One', cursive;
}

.sub-welcome-info {
  background-color: $grey;
  color: $red;
  border-radius: 15px;
  font-family: 'Contrail One', cursive;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.welcome-info {
  background-color: $grey;
  color: $red;
  border-radius: 15px;
  font-family: 'Contrail One', cursive;
  font-size: 50px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: auto;
}

.users-page {
  background: linear-gradient(bottom right, $dark-grey, $light-grey);
  border: 10px $white ridge;
  // background-color: $grey;
  border-radius: 15px;
  color: $red;
  font-family: 'Contrail One', cursive;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

.not-logged-in {
  background: linear-gradient(bottom right, $dark-grey, $light-grey);
  border: 10px $white ridge;
  // background-color: $grey;
  border-radius: 15px;
  color: $red;
  font-family: 'Contrail One', cursive;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  text-align: center;
}

.brief-descrition-container {
  // background-color:
  border-bottom: 1px $black dashed;
  border-top: 1px $black dashed;
  display: block;
  font-family: 'Carter One', cursive;
  font-size: 20px;
  height: 260px;
  margin-left: 65%;
  padding-left: 3px;
  padding-right: 3px;
  overflow: scroll;
  overflow-y: scroll;
  text-align: center;
  text-overflow: ellipsis;
  width: 30%;
}

.festivals-footer {
  background-color: $white;
  border-radius: 30px;
  color: $red;
  font-family: 'Norican', cursive;
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 31%;
  margin-top: 30px;
  text-align: center;
  width: 39%;
}

.cancel-submit-btn {
  font-size: 20px;
  margin-left: 30%;

}

.submit-festival{
  font-size: 20px;
  margin-left: 20%;
}

.instructions {
  font-family: 'Contrail One', cursive;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
}

.last-instr {
  // background-color: $white;
  // margin-top: 50px;
  // padding-top: 50px;
}

.piece-two, .piece-four, .piece-six, .piece-eight {
  margin-top: 20px;
}

.input-area {
  background-color: $red;
  border-radius: 5px;
  color: $white;
  height: auto;
  margin-top: 5px;
}

.input-field {
  font-family: 'Contrail One', cursive;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}

.enter-info-container{
  background-color: $grey;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.piece-one,
.piece-two,
.piece-three,
.piece-four,
.piece-five,
.piece-six,
.piece-seven,
.piece-eight, {
width: 100%;
}

.static-title {
  background-color: $white;
  border-radius: 15px;
  color: $red;
  font-family: 'Bangers', cursive;
  font-size: 100px;
  letter-spacing: 5px;
  margin: 0 auto;

  // margin-bottom: 20px;
  // margin-top: 60px;
  // margin-left: 30%;
  text-align: center;
  width: 55%;
    }

.loc {
  padding-bottom: 100px;
  overflow: visible;
}

.title-input {
  margin-bottom: 15px;
}

.descr {
  // height: 850px;
  padding-bottom: 50px;
  overflow: scroll;
}


.festival-title {
  color: $white;
  font-family: 'Kumar One', cursive;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 5%;
  // margin-left: 46%;
  margin-top: 7%;
  text-align: center;
  // padding-left: 45%;
}

.card-holder {
  // background-color: $red;
  background: linear-gradient(right, $teal , $purple);
  border: 10px $gold ridge;
  border-radius: 20px;
  height: auto;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-top: 40px;
  width: 80%;
}

.festival-info-container {
  background-color: $white;
  border: 10px $orange outset;
  border-radius: 15px;
  color: $black;
  height: auto;
  // margin-bottom: 20%;
  margin-left: 5%;
  margin-top: 20px;
  padding-top: 20px;
  width: 90%;
}
//
// .info-container-location {
//   background-color: $grey;
//   border: 1px $black solid;
//   border-radius: 5px;
//   color: $black;
//   display: inline-block;
//   height: auto;
//   margin-bottom: 5px;
//   margin-left: 10%;
//   margin-right: 15px;
//   padding-bottom: 3px;
//   padding-left: 5px;
//   padding-right: 5px;
//   padding-top: 3px;
//   width: auto;
// }
//
// .info-container-venue {
//   background-color: $grey;
//   border: 1px $black solid;
//   border-radius: 5px;
//   color: $black;
//   display: inline-block;
//   height: auto;
//   margin-bottom: 5px;
//   margin-left: 15%;
//   margin-right: 15px;
//   padding-bottom: 3px;
//   padding-left: 5px;
//   padding-right: 5px;
//   padding-top: 3px;
//   width: auto;
// }
//
// .info-container-genre {
//   background-color: $grey;
//   border: 1px $black solid;
//   border-radius: 5px;
//   display: inline-block;
//   height: auto;
//   margin-bottom: 5px;
//   margin-left: 15%;
//   padding-bottom: 3px;
//   padding-left: 5px;
//   padding-right: 5px;
//   padding-top: 3px;
//   width: auto;
// }
//
// .info-container-price {
//   background-color: $grey;
//   border: 1px $black solid;
//   border-radius: 5px;
//   display: inline-block;
//   height: auto;
//   margin-bottom: 5px;
//   margin-left: 25%;
//   margin-top: 20px;
//   padding-bottom: 3px;
//   padding-left: 5px;
//   padding-right: 5px;
//   padding-top: 3px;
//   width: auto;
// }
//
// .info-container-date {
//   background-color: $grey;
//   border: 1px $black solid;
//   border-radius: 5px;
//   display: inline-block;
//   height: auto;
//   margin-bottom: 5px;
//   margin-left: 25%;
//   padding-bottom: 3px;
//   padding-left: 5px;
//   padding-right: 5px;
//   padding-top: 3px;
//   width: auto;
// }

.info-container {
  background-color: $grey;
  border-radius: 15px;
  font-family: 'Carter One', cursive;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 20%;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 60%;
}

.actual-info {
  background-color: $white;
  border-radius: 15px;
  font-family: 'Contrail One', cursive;
  height: auto;
  margin-left: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 90%;
}
.info-container-comments {
  height: auto;
  margin-bottom: 20px;
  overflow: scroll;
}


.actual-info-comment {
  height: auto;
  // padding-bottom: 20px;
}


.btn-container {
  background-color: $white;
  border: 10px $orange outset;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  padding-top: 20px;
  width: auto;
}

.festival-location-card-title {
  background-color: $light-grey;
  border-radius: 15px;
  color: $black;
  font-family: 'Carter One', cursive;
  font-size: 15px;
  height: auto;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  width: 80%;
}

.festival-genere-card-title {
  background-color: $light-grey;
  border-radius: 15px;
  color: $black;
  font-family: 'Carter One', cursive;
  font-size: 15px;
  height: auto;
  margin-left: 10%;
  padding: 10px 10px 10px 10px;
  width: 80%;
}

.festival-location-card, .festival-genere-card {
  background-color: $white;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  overflow: scroll;
  overflow-y: scroll;
}

// font-family: 'Kumar One', cursive; - like it
// font-family: 'Righteous', cursive; - a bit boring / nerdy
// font-family: 'Bangers', cursive; - good but narrow
// font-family: 'Contrail One', cursive; - goot but boring, less than other one
// font-family: 'Cherry Cream Soda', cursive;
// font-family: 'Carter One', cursive;

.row-one,
.row-two,
.row-three,
.row-four,
 {
  background-color: $white;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 40%;
}


.view-festival-btn {
  background-color: $dark-blue;
  background-repeat: no-repeat;
  border: 0;
  color: $white;
  cursor: pointer;
  font-family: 'Contrail One', cursive;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-left: 40.5%;
  margin-top: 30px;
  outline: none;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
}

.view-festival-btn:hover {
  background-color: $green;
  color: $white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.edit-festival-btn {
  background-color: $green;
  background-repeat: no-repeat;
  border: 0;
  color: $white;
  cursor: pointer;
  font-family: 'Contrail One', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 35%;
  margin-top: 50px;
}

.back-btn {
  background-color: $orange;
  background-repeat: no-repeat;
  border: 0;
  color: $white;
  cursor: pointer;
  font-family: 'Contrail One', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 45%;
  margin-top: 50px;
}

.back-btn:hover {
  background-color: $white;
  color: $orange;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.edit-festival-btn:hover {
  background-color: $white;
  color: $green;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.delete-card-btn {
  background-color: $red;
  color: $white;
  font-family: 'Contrail One', cursive;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-left: 40%;
  outline: none;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
}

.delete-card-btn:hover {
  background-color: $white;
  border: 1px solid $red;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.post-comment-btn {
  margin-left: 35%;
  margin-top: 10px;
}



.comment-input-box {
  height: 80px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 100px;
  width: 50%;
}

.background-div {
  background-color: $gold;
}

.intro-text {
  color: $red;
  font-family: cursive;
  text-align: center;
}

.post-festival-btn {
  font-family: 'Contrail One', cursive;
  margin-bottom: 20px;
  margin-left: 40%;
  margin-top: 20px;
}

.main-background {
 background-image: url('http://www.kathykwylie.com/wp-content/uploads/2012/01/Miles-to-Go-Quilting.jpg');

 // background-image: url('http://il9.picdn.net/shutterstock/videos/9242954/thumb/1.jpg');
  background-color: $white;
  border: 10px $white ridge;
  border-radius: 20px;
  height: 100%;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 60px;
  width: 100%;
}



.cancel-comment-btn {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}


.festival-owner {
  font-size: 20px;
  text-align: center;
}

.view-all-festivals-title {
  color: $red;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: auto;
}

.festival-owner-div {
  background: $grey;
  border: 3px $white solid;
  border-radius: 15px;
  font-family: 'Contrail One', cursive;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.image {
  background-color: $grey;
  border-radius: 20px;
  float: left;
  height: 260px;
  margin-left: 5%;
  width: 55%;
}



.img-container {
  border-color: $black;
  border-radius: 5px;
  border-style: dashed;
  display: inline-flex;
  height: auto;
  margin-left: 40px;
  margin-top: 35px;
  width: 450px;
}

.view-all-festivals-div {
  background-color: $white;
  border: 3px solid $red;
  border-radius: 5px;
  height: auto;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.create-new-div {
  background-color: $white;
  border: 3px solid $red;
  border-radius: 5px;
  height: auto;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.view-users-div {
  background-color: $white;
  border: 3px solid $red;
  border-radius: 5px;
  height: auto;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.view-users-title {
  color: $red;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: auto;
}

.create-festivals-title {
  color: $red;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: auto;
}

.create-festival-img-container {
  background-color: $black;
  border: 1px solid $red;
  height: 160px;
  margin-left: 5%;
  margin-top: 5%;
  width: 40%;
}

.festivals-img-container {
  background-color: $black;
  border: 1px solid $red;
  height: 160px;
  margin-left: 5%;
  margin-top: 5%;
  width: 40%;
}

.view-users-img-container {
  background-color: $black;
  border: 1px solid $red;
  height: 160px;
  margin-left: 5%;
  margin-top: 5%;
  width: 40%;
}

.view-festivals-btn {
  margin-bottom: 5%;
  margin-left: 35%;
  margin-top: 5%;
}

.view-create-festival-btn {
  margin-bottom: 5%;
  margin-left: 35%;
  margin-top: 5%;
}

.view-users-btn {
  margin-bottom: 5%;
  margin-left: 35%;
  margin-top: 5%;
}


.features-text {
  background-color: $red;
  border: 1px solid $white;
  border-radius: 20px;
  color: $white;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  text-align: center;
}

.welcome-page-title {
  color: $red;
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.welcome-page-view {
  background-color: $grey;
  border: 1px solid $black;
  // border-radius: 20px;
  height: 100%;
  // padding-left: 20px;
}

// .next-step-btn {
//   background-color: $white;
//   border: 3px solid $dark-grey;
//   color: $red;
//   margin-left: 25%;
// }

.next-step-btn {
  background-color: $dark-blue;
  background-repeat: no-repeat;
  border: 0;
  color: $white;
  cursor: pointer;
  margin-left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  overflow: hidden;
}

.next-step-btn:hover {
  // background-color: Transparent;
  background-color: $green;
  color: $gold;
  // border: 1px $black solid;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}


.features-step-btn {
  background-color: $dark-blue;
  background-repeat: no-repeat;
  border: 0;
  color: $white;
  cursor: pointer;
  margin-left: 10%;
  padding-top: 10px;

  padding-bottom: 10px;
  outline: none;
  overflow: hidden;
}

.classic-background {
  background-image: url("http://www.semensemble.org/files/resized/136006/cropped/1170;658;09e801b59b25e2334509b184f2d3ce2fb7040b3f.jpg");
  background-size: cover;
  height: 700px;
  margin-bottom: 20px;
  margin-left: -16.5%;
  width: 1200px;
}

.jazz-background {
  background-image: url("http://www.normans.co.uk/blog/wp-content/uploads/2015/10/wallpaper-boy-woth-sax.jpg");
  background-size: cover;
  height: 700px;
  margin-bottom: 20px;
  margin-left: -16.5%;
  width: 1200px;
}

.edm-background {
  background-image: url("http://www.travelweekly.com/uploadedImages/All_TW_Art/2016/053016/T0530ELECTRICDAISYCARNIVAL_C_HR.jpg?n=8098&width=1540&height=866&mode=crop&Anchor=MiddleCenter");
  background-size: cover;
  height: 700px;
  margin-bottom: 20px;
  margin-left: -16.5%;
  width: 1200px;
}

.country-background {
  background-image: url("http://images1.laweekly.com/imager/u/745xauto/6856741/music1-1_4-28-16-e71c42ff11d23031.jpg");
  background-size: cover;
  height: 700px;
  margin-bottom: 20px;
  margin-left: -16.5%;
  width: 1200px;
}

.rap-background {
  background-image: url("https://cdn0.vox-cdn.com/thumbor/q7ez2yCZkyDPHVL_1dX7_t82wF0=/0x0:964x643/1310x873/cdn0.vox-cdn.com/uploads/chorus_image/image/50056277/jay-z.0.png");
  background-size: cover;
  height: 700px;
  margin-bottom: 20px;
  margin-left: -16.5%;
  width: 1200px;
}

.rock-background {
  background-image: url("http://www.siwallpaperhd.com/wp-content/uploads/2015/09/rock_music_festival_wallpaper.jpg");
  background-size: cover;
  height: 700px;
  margin-bottom: 20px;
  margin-left: -16.5%;
  width: 1200px;
}

.modals-title {
  background-color: $white;
  border-radius: 20px;
  color: $black;
  text-align: center;
}

.genre-template {
  padding-top: 50px;
}

.modal-filler-text {
  background-color: $red;
  height: 50px;
  text-align: center;
  width: 100%;
}

.past-modal {
  // background-color: $green;
  display: block;
  margin: 0 auto;
}

.future-modal {
  // background-color: $red;
  display: block;
  margin: 0 auto;
}

.modal-container {
  background-color: $grey;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 10%;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 80%;
}

.modal-btns {
  background-color: #000;
  // opacity: 0.9;
  filter: greyscale(100%);
  border-radius: 20px;
  height: 85%;
  margin-left: 25%;
  // margin-top: 50px;
  // padding-top: 50px;
  width: 50%;

}

// .modal-bnts:after {
//   opacity: .8;
// }

.features-step-btn:hover {
  // background-color: Transparent;
  background-color: $green;
  color: $gold;
  // border: 1px $black solid;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.next-steps {
  margin-bottom: 5%;
  margin-top: 5%;
}

.test-title {
  background-color: $red;
  height: 400px;
  width: 100%;
}

.background-container {
  background-color: $grey;
  // url('https://s-media-cache-ak0.pinimg.com/originals/e6/bd/a2/e6bda29991dbb0702fabc85df2da791c.png');
  background-size: 100%;


  // url('http://www.travelweekly.com/uploadedImages/All_TW_Art/2016/053016/T0530ELECTRICDAISYCARNIVAL_C_HR.jpg?n=8098&width=1540&height=866&mode=crop&Anchor=MiddleCenter')
// url('http://www.edmmagazine.com/wp-content/uploads/2015/06/edc-vegas-day-two-press-2015-billboard-650.jpg')
  // url('http://farm8.staticflickr.com/7336/9406061959_4e967c515a_b.jpg');

  // url('http://i1.mirror.co.uk/incoming/article1709852.ece/ALTERNATES/s1200/Tomorrowland%20festival.jpg');
  // url('http://www.tomorrowland.com/global/img/og.jpg');


  //  url('http://promotionmusicnews.com/promotionmusicnews.com/html/wp-content/uploads/EDM-Festival.jpg'
  //  );
}
