<div>
  {{!-- {{#if festival.editable}} --}}
  {{#each model as |festival|}}
    {{festival-list    festival=festival
                       editFestival='editFestival'
                       delete='deleteFestival'}}
  {{/each}}
{{!-- {{/if}} --}}
</div>
