<div class='welcome-page-view'>
  <div class='welcome-page-text'>
    <div class='welcome-page-title'>Welcome to Festival Fanatic!</div>
    <div class='welcome-page-features'><p class='features-text'>Festival Fanatic is an Application Designed to Help Users record their experiences and contribute to a community that was created for and by them! See below for some of the features currently supported by Festival Fanatic!</p>
      <div class='view-all-festivals-div'>
        <div class='view-all-festivals-title'>View Posts By All Users!
        </div>
        <div class='festivals-img-container'>
        </div>
          <button class='btn btn-info view-festivals-btn' type='submit'>Click Here to view all festivals</button>
      </div>
      <div class='create-new-div'>
        <div class='create-festivals-title'>Add a New Festival!
        </div>
        <div class='create-festival-img-container'>
        </div>
          <button class='btn btn-info view-create-festival-btn' type='submit'>Click Here to create a festival</button>
      </div>
      <div class='view-users-div'>
        <div class='view-users-title'>See Who Else is Using Festival Fanatic!
        </div>
        <div class='view-users-img-container'>
        </div>
          <button class='btn btn-info view-users-btn' type='submit'>Click Here to create a festival</button>
      </div>
    </div>
    <div class='next-steps'>
      <button class='next-step-btn btn' type='submit'>Click Here to Get Started</button>
      <button class='features-step-btn btn' type='submit'>Click Here to View All Features</button>
    </div>
  </div>
</div>
