<div class='genre-display'>
  <h1 class='genre-header'>What've you been listening to?</h1>
  <form>
    <div class='edm-genre'>
      <h3 class='genre-btn'>Electronic Music</h3>
      {{#link-to 'genre/edm'}}
        <input type='checkbox'>
      {{/link-to}}
    </div>
    <div class='rock-genre'>
      <h3 class='genre-btn'>Rock N' Roll</h3>
      {{#link-to 'genre/rock'}}
        <input type='checkbox'>
      {{/link-to}}
    </div>
    <div class='rap-hiphop-genre'>
      <h3 class='genre-btn'>Rap and Hip Hop</h3>
      {{#link-to 'genre/rap'}}
        <input type='checkbox'>
      {{/link-to}}
    </div>
    <div class='country-genre'>
      <h3 class='genre-btn'>Country</h3>
      {{#link-to 'genre/country'}}
        <input type='checkbox'>
      {{/link-to}}
    </div>
    <div class='jazz-genre'>
      <h3 class='genre-btn'>Jazz</h3>
      {{#link-to 'genre/jazz'}}
        <input type='checkbox'>
      {{/link-to}}
    </div>
    <div class='classic-genre'>
      <h3 class='genre-btn'>Classical</h3>
      {{#link-to 'genre/classic'}}
        <input type='checkbox'>
      {{/link-to}}
    </div>
  </form>
</div>
