<div class='genre-display'>
  <div class='genre-container'>
    <h1 class='genre-header'>What've you been listening to?</h1>
    <div class='edm-genre'>
      {{#link-to 'genre/edm'}}
      <a class='edm  genre-btn'>Electronic Music</a>
      {{/link-to}}
    </div>
    <div class='rock-genre'>
      {{#link-to 'genre/rock'}}
      <a class='rock genre-btn'>Rock N' Roll</a>
      {{/link-to}}
    </div>
    <div class='rap-genre'>
      {{#link-to 'genre/rap'}}
      <a class='rap genre-btn'>Rap and Hip Hop</a>
      {{/link-to}}
    </div>
    <div class='country-genre'>
      {{#link-to 'genre/country'}}
      <a class='country genre-btn'>Country</a>
      {{/link-to}}
    </div>
    <div class='jazz-genre'>
      {{#link-to 'genre/jazz'}}
      <a class='jazz genre-btn'>Jazz</a>
      {{/link-to}}
    </div>
    <div class='classic-genre'>
      {{#link-to 'genre/classic'}}
      <a class='classic genre-btn'>Classical</a>
      {{/link-to}}
    </div>
    {{#link-to 'welcome'}}
      <button class='button3'>Go Back</button>
    {{/link-to}}
  </div>
</div>
