
  {{!-- {{#link-to 'festival' festival}}
    {{festival.title}}
  {{/link-to}} --}}

  {{!-- <button class='btn btn-danger btn-xs' {{action 'delete'}}>Delete</button>
  <button class='btn btn-default btn-xs' {{action 'editFestival'}}>Edit</button> --}}
